<div class="taskPane panel">
      <div class="panel-title">
        Task Pane
      </div>
      <div class="taskPaneContent">
          <button class="btn btn-active"><i class="zmdi zmdi-plus-circle-o" aria-hidden="true"></i><span>Add</span></button>
          <button><i class="zmdi zmdi-edit" aria-hidden="true"></i><span>Edit</span></button>
          <button><i class="fa fa-trash-o" aria-hidden="true"></i><span>Delete</span></button>
          <button disabled><i class="glyphicon glyphicon-download-alt" aria-hidden="true"></i><span>Save</span></button>
          <button><i class="glyphicon glyphicon-remove-circle" aria-hidden="true"></i><span>Close</span></button>
          <button><i class="glyphicon glyphicon-refresh" aria-hidden="true"></i><span>Refresh</span></button>
          <button><i class="glyphicon glyphicon-log-out" aria-hidden="true"></i><span>Export</span></button>
          <span class="filePath"><label for="filepath">File : </label>&nbsp;<input name="filepath" [(ngModel)]="filepath" placeholder="File Path"/></span>
      </div>
  </div>